.not-relative {
  position: static;
}

.link {
  color: #00ab65;
  text-decoration: none;
  &:hover {
    color: #00cf7a;
  }
}

.main-header {
  position: relative;
  background: url('../img/gadgets-bg.png') 76% 300% no-repeat, url('../img/circle-bg.png') 0 no-repeat, linear-gradient(to bottom, #ffffff, #ebf5ff);
  &--fixed {
    padding-top: 104px;
  }
  .fixed-wrapper {
    &--fixed {
      top: 0;
      left: 0;
      position: fixed;
      width: 100%;
      background-color: #ffffff;
      z-index: 100;
      transition: all 0.5s;
      .main-nav__item .main-nav__link {
        padding: 1.25rem 1rem;
        &--lang {
          padding: 0.75rem;
        }
      }
    }
  }
  .fixed-wrapper--fixed.fixed-wrapper--upsticky {
    box-shadow: 0 1px 13px 7px rgba(16,81,222, 0.1);
  }
  .btn {
    color: #ffffff;
  }
}

.main-header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
}

.main-nav {
  display: flex;
  align-items: baseline;
}

.main-nav__item .main-nav__link {
  display: flex;
  padding: 1rem;
  color: #182a5d;
  font-weight: 600;
  @include fontSize(0.875);
  text-transform: uppercase;
  border-bottom: 3px solid transparent;
  transition: all 0.3s;
  &:hover {
    color: #00ab65;
    border-bottom: 3px solid #00ab65;
    transition: all 0.3s;
  }
  &--contacts {
    position: relative;
    margin-right: 5rem;
    &:after {
      content: '';
      position: absolute;
      top: 50%;
      left: calc(100% + 2.5rem);
      display: inline-block;
      width: 2px;
      height: 1.5rem;
      background-color: #d3d6e0;
      transform: translate(-50%, -50%);
    }
  }
  &--second {
    text-transform: capitalize;
  }
  &--lang {
    padding: 0.75rem;
    margin-left: 1rem;
    border-radius: 0.5rem;
    background-color: #e1eeff;
    border-bottom: none;
    transition: 0.35s all;
    &:hover {
      background-color: #aacfff;
      border-bottom: none;
      color: #182a5d;
      transition: 0.35s all;
    }
  }
}

.start-home {
  padding: 11rem 0 19rem 0;
  .btn {
    padding: 0.975rem 2.5rem;
    @include fontSize(1);
  }
}

.start-home__title {
  margin-bottom: 1.5rem;
}

.start-home__message {
  padding-right: 4rem;
  margin-bottom: 1.5rem;
  @include fontSize(1);
}

.features {
  padding: 9.5rem 0 10rem 0;
  .features__text {
    margin-bottom: 2rem;
  }
}

.main-feature {
  padding: 1rem 0;
}

.main-feature__img {
  width: 7rem;
  height: 7rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2rem;
  margin-bottom: 2.5rem;
  background-color: #eff7ff;
  svg {
    fill: #537eff;
  }
}

.main-feature__title {
  @include fontSize(0.875);
  font-weight: bold;
  margin-bottom: 0.75rem;
}

.main-feature__text {
  @include fontSize(0.875, 1.375);
}

.stack {
  padding: 5rem 0 11rem 0;
  background: url('../img/circles-mid.png') 66% 0 no-repeat, linear-gradient(to bottom, #ebf5ff, #ffffff);
}

.diagram-circle {
  position: relative;
  width: 35rem;
  height: 34rem;
  background: url('../img/laptop-bg.png') 48% 100% no-repeat;
}

.diagram-circle__item {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  width: 7rem;
  height: 7rem;
  background-color: #ffffff;
  border-radius: 50%;
  font-weight: 600;
  box-shadow: 0px 0px 15px 5px rgba(0, 36, 186, 0.15);
  transform: translate(-50%, -50%);
  &--html {
    top: 19%;
    left: 36%;
    color: #00ab65;
  }
  &--sql {
    top: 17%;
    left: 64%;
    width: 5rem;
    height: 5rem;
    color: #233261;
  }
  &--node {
    top: 37%;
    left: 80%;
    color: #00ab65;
  }
  &--blockchain {
    top: 69%;
    left: 77%;
    color: #233261;
  }
  &--android {
    top: 84%;
    left: 52%;
    color: #477dff;
  }
  &--ios {
    top: 74%;
    left: 24%;
    width: 5rem;
    height: 5rem;
    color: #233261;
  }
  &--machine {
    top: 45%;
    left: 19%;
    width: 7rem;
    height: 7rem;
    color: #477dff;
  }
  &--net {
    top: 50%;
    left: 51%;
    width: 7.5rem;
    color: #f4573d;
  }
}

.portfolio {
  padding: 1rem 0 11.5rem 0;
  .portfolio__title {
    margin-bottom: 0.75rem;
  }
  .portfolio__text {
    margin-bottom: 2.5rem;
  }
}

.main-footer {
  padding: 7rem 0 0 0;
  background: url('../img/footer-illustration.png') 40% 55% no-repeat, url('../img/circles-footer.png') 50% -35% no-repeat #233261;
  color: #ffffff;
  .main-logo {
    svg {
      fill: #ffffff;
      path {
        fill: inherit;
      }
    }
  }
}

.contacts {
  margin-bottom: 7rem;
}

.contacts__section {
  padding-top: 3.25rem;
  padding-right: 50%;
}

.contacts__comm {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem;
  @include fontSize(1);
}

.contacts__adress {
  @include fontSize(1);
}

.feed-form {
  text-align: center;
  background-color: #eff7ff;
  border-radius: 1rem;
  padding: 3rem 6.5rem 2rem 6.5rem;
  box-shadow: 0px 0px 32px 2px rgba(11, 16, 32, 0.45);
  .btn {
    margin-bottom: 2rem;
  }
}

.feed-form__title {
  margin-bottom: 2rem;
  text-align: center;
  color: #233261;
  @include fontSize(1.875);
  font-weight: 600;
}

.form-group {
  width: 100%;
  position: relative;
  label.error {
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0.2rem;
    color: #f24841;
    text-align: left;
    @include fontSize(0.75);
  }
  input.error,
  textarea.error {
    border-color: #f24841;
  }
}

.feed-form__input {
  width: 100%;
  padding: 0.75rem 1rem;
  @include fontSize(0.875);
  border-radius: 0.25rem;
  box-shadow: none;
  border: 1px solid transparent;
  margin-bottom: 1.5rem;
  resize: none;
  transition: 0.35s all;
  &:focus {
    outline: none;
    border-color: #acb2c9;
    transition: 0.35s all;
    @include placeholder {
      opacity: 0;
      transition: 0.35s all;
    }
  }
}

.feed-form__disc {
  text-align: center;
  color: #7c8299;
  @include fontSize(0.75);
}

.main-footer__items {
  padding: 3rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 2px solid #495985;
}

.main-footer__item {
  &--disc {
    margin-left: 4rem;
    margin-right: auto;
    width: 30%;
  }
}

.main-footer__disc {
  display: flex;
  flex-wrap: wrap;
  @include fontSize(1);
  span {
    width: 100%;
  }
  a {
    width: 100%;
  }
}

.socials {
  display: flex;
  align-items: center;
}

.socials__item {
  &:not(:last-child) {
    margin-right: 1rem;
  }
}

.main-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 16rem;
  height: 16rem;
  padding: 1.5rem;
  background-color: #477dff;
  border-radius: 1rem;
  color: #ffffff;
  transition: 0.35s all;
  &:hover {
    opacity: 0.85;
    box-shadow: 0 3px 9px rgba(0, 0, 0, .28);
    transition: 0.35s all;
  }
  &--blue {
    background-color: #477dff;
    svg {
      fill: #3755aa;
    }
  }
  &--green {
    background-color: #00ab65;
    svg {
      fill: #0d805a;
    }
  }
  &--darkblue {
    background-color: #2c386d;
    svg {
      fill: #596596;
    }
  }
  &--grey {
    color: #2c386d;
    background-color: #ebf5ff;
    svg {
      fill: #586495;
    }
  }
}

.main-card__title {
  margin-top: auto;
  margin-bottom: 0.5rem;
  @include fontSize(1);
}

.main-card__text {
  @include fontSize(0.875);
}

.page-title {
  @include fontSize(2.625, 3);
  font-weight: 600;
}

.page-subtitle {
  @include fontSize(1);
  color: #5e6377;
  font-weight: 600;
}

.main-section__title {
  @include fontSize(1.875);
  font-weight: 600;
  margin-bottom: 1rem;
}

.main-section__text {
  @include fontSize(1, 1.725);
  margin-bottom: 1rem;
}

.btn {
  display: inline-block;
  color: #ffffff;
  background-color: #00ab65;
  border-radius: 3rem;
  padding: 0.75rem 1.75rem;
  @include fontSize(0.875);
  font-weight: 600;
  cursor: pointer;
  outline: none;
  border-color: #00ab65;
  box-shadow: none;
  text-decoration: none;
  border-style: unset;
  transition: 0.35s all;
  &:hover {
    background-color: #00cf7a;
    transition: 0.35s all;
  }
}

.main-logo {
  svg {
    width: 210px;
    height: 100px;
  }
}

.burger-toggle {
  position: relative;
  width: 37px;
  height: 28px;
  cursor: pointer;
  transition: 0.25s ease-in-out;
  span {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    width: 100%;
    border: 2px solid $text;
    background-color: lightcoral;
    border-radius: 10px;
    transform-origin: left center;
    transition: 0.35s ease-in-out;
    &:nth-child(2) {
      top: calc(50% - 1px);
    }
    &:nth-child(3) {
      top: calc(100% - 2px);;
    }
  }
  &--close {
    span {
      transition: 0.25s ease-in-out;
      &:nth-child(1) {
        transform: rotate(45deg);
      }
      &:nth-child(3) {
        transform: rotate(-45deg);
      }
      &:nth-child(2) {
        opacity: 0;
      }
    }
  }
}

.product__header {
  position: relative;
  padding: 8rem 0;
  background: url('../img/header-bg--second.png') no-repeat #EBF5FF;
  .page-title {
    position: relative;
  }
}

.back {
  position: absolute;
  left: -4rem;
  top: 50%;
  transform: translate(0, -50%);
}

.back-arrow {
  display: block;
  position: relative;
  cursor: pointer;
  width: 3rem;
  height: 3rem;
  .top,
  .bottom {
    position: absolute;
    display: inline-block;
    width: 2rem;
    height: 5px;
    background-color: #2c386d;
    transform: translate(-50% -50%);
    transform-origin: left center;
  }
  .top {
    top: calc(50% + 1.5px);
    transform: rotate(-45deg);
  }
  .bottom {
    top: calc(50% - 1.5px);
    transform: rotate(45deg);
  }
  .middle {
    position: absolute;
    display: inline-block;
    top: 50%;
    left: 0;
    width: 3rem;
    height: 5px;
    background-color: #2c386d;
    transform: translate(-50% -50%);
  }
}

.outer-link {
  font-weight: 600;
  color: #00ab65;
  text-decoration: none;
  &:hover {
    color: #00cf7a;
  }
}

.article {
  padding: 4rem 0;
  h3 {
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    font-weight: bold;
    @include fontSize(1.275);
  }
  h4 {
    font-weight: 600;
    @include fontSize(1);
  }
  p {
    margin-bottom: 2rem;
    @include fontSize(1);
    color: #5e6377
  }
  ul {
    margin-bottom: 2rem;
    padding-left: 2rem;
  }
  li {
    list-style: disc;
    @include fontSize(1);
  }
}